html, body {
    height: 100%;
    margin:0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

h1{
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 20px auto 0;
}

#body_container {
    margin: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: calc(100% - 40px);
    gap: 15px;
    box-sizing: border-box;
}

#box {
    border: 5px solid #FFFF00;
    border-radius: 8px;
    background-color: white;
    min-height: 150px;
    max-height: 500px;
    overflow: auto;
}

#content {
    margin: 10px;
}

.button {
  padding-left: 10px;
  padding-right: 10px;
  background-color:#FFFF00;
  border-style: solid;
  border-radius:10px;
  border-color: #FFFF00;
  border-width: 5px;
  font-size: medium;
  margin-bottom: 10px;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}

.button:hover {
    background-color:#cccc00;
}

 a{
    text-decoration: none;
    color:white;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
  }
