html, body {
    margin: 0;
    height: 100%;
  }

  body {
    background-color: lightgray;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  #first_section {
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 10%;
    width: 100%;
  }

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
  }

  .button-container {
    display: flex;
  }
  
  /*Button section*/
  #first_section button{
    margin-right: 20px;
    color: white;
    background-color:rgb(190, 183, 231);
    border-style: solid;
    border-radius:10px;
    border-color: white;
    height:45px;
    width:100px;
    font-size: medium;
  }

  #first_section button:hover {
    background-color:rgb(174, 169, 209);
  }


  /*Image portion*/
  #image {
    background-image: url('https://static8.depositphotos.com/1394326/951/i/950/depositphotos_9514734-stock-photo-old-poetry.jpg');
    width: 100%;
    height: 140px;
    background-size: cover;
    background-position: center;
  }


/* Navigation Bar*/
  nav {
    background-color: bisque;
    width: 100%
  }
  
  .navigation_bar {
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
  }

  .navigation_bar li {
    flex: 1;
  }

  .navigation_bar a{
    text-decoration: none;
    color:black;
    font-style: oblique;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    display:block;
    padding: 15px;
  }

  .navigation_bar a:hover {
    background-color: #F3D9C5;
  }

  #first_section a{
    text-decoration: none;
    color:white;
  }
  