html, body {
    height: 100%;
    margin:0;
}
body {
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

#post_container {
    background-color: #FFFF00;
    padding: 50px;
    padding-top: 20px;
    box-shadow: 0px 4px 7px 0px #cccc00;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:larger;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.submit_button {
    padding: 6px;
    color: white;
    font-size: medium;
    font-weight: bolder;
    background-color: black;
    border-style: solid;
    border-radius:10px;
    border-color: white;
    border-width: 5px;
    margin-top: 5px;
}

#category {
    color: black;
    background-color: white;
    font-size: 16px;
    border-style: solid;
    border-radius:10px;
    border-color: white;
    border-width: 5px;
}

h1 {
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    text-shadow: 3px 2px 2px #cccc00;  
}