html, body {
  height: 100%;
  margin:0;
}
body {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
#first_section {
  background-color: black;
  padding: 10px 10px 10px 10px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: x-large;
  display:flex;
  justify-content: space-between; /* This will push the elements to the sides */
  align-items: center; 
  width: 100%;
}

h1 {
  margin: 0;
}

#first_section button{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px; 
  color: white;
  background-color:#FFFF00;
  border-style: solid;
  border-radius:10px;
  border-color: white;
  border-width: 5px;
  height:45px;
  width:100px;
  font-size: medium;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}

#first_section button:hover {
background-color: #cccc00 ;
}

#first_section a{
text-decoration: none;
color:white;
font-weight: bolder;
text-shadow: 1px 1px 2px black;
}

#second_section {
  background-color: #FFFF00;
  padding: 10px 10px 10px 10px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: x-large;
  display: flex;
  flex: 0 1 6%;
  width: 100%;
  height: 7%;
}

 /* Sidebar */

 #sidebar_section {
  background-color: #FFFF00;
  position: relative;
}

#sidebar_icon {
  font-size: 30px;
  padding: 10px;
  color:white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
  margin-right: 10px;
}

.sidebar_list {
  list-style-type: none;
  margin:0;
  padding: 10px;
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #FFFF00;
}

#sidebar_section:hover .sidebar_list {
  display: contents;
}

.sidebar_list li{
text-decoration: none;
color:white;
font-weight: bolder;
text-shadow: 1px 1px 2px black;
font-style: oblique;
font-size: large;
text-align: center;
padding: 15px;
background-color: #FFFF00;
}

.sidebar_list a{
  text-decoration: none;
  color:white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
  font-style: oblique;
  font-size: large;
  text-align: center;
  }

.sidebar_list li:hover {
background-color: #cccc00;
}
/* Sidebar */

#second_section button {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px; 
  color: white;
  background-color: black;
  border-style: solid;
  border-radius:10px;
  border-color: white;
  border-width: 5px;
  height:45px;
  width:100px;
  font-size: medium;
}

#post a{
text-decoration: none;
color:white;
font-weight: bolder;
}

#second_section button:hover {
  background-color: rgb(53, 53, 53);
}

/* Rest of Homepage */
/*Image portion*/
#image {
  background-image: url('https://static8.depositphotos.com/1394326/951/i/950/depositphotos_9514734-stock-photo-old-poetry.jpg');
  width: 100%;
  height: 140px;
  min-height: 140px;
  background-size: cover;
  background-position: center;
}

/* Navigation Bar*/
nav {
  background-color: black;
  width: 100%;
}

.navigation_bar {
  list-style-type: none;
  margin:0;
  padding: 0;
  display: flex;
}

.navigation_bar li {
  flex: 1;
}

.navigation_bar a{
  text-decoration: none;
  color:white;
  font-style: oblique;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  display:block;
  padding: 15px;
}

.navigation_bar a:hover {
  background-color: white;
  color: black;
}

/*Poem Display*/

#section_title h1{
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 20px auto 10px 20px;
}

#body_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: calc(100% - 40px);
  gap: 15px;
  box-sizing: border-box;
}

#box {
  margin: 15px;
  border: 5px solid black;
  border-radius: 8px;
  background-color: white;
  min-height: 150px;
  max-height: 500px;
  overflow: auto;
}

.button {
  padding-left: 10px;
  padding-right: 10px;
  background-color:#FFFF00;
  border-style: solid;
  border-radius:10px;
  border-color: #FFFF00;
  border-width: 5px;
  font-size: medium;
  margin-bottom: 10px;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}

.button:hover {
  background-color:#cccc00;
}

#box a{
  text-decoration: none;
  color:white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}

#content {
  margin: 10px;
}


