html, body {
    height: 100%;
    margin:0;
}
body {
    background-color: lightgray;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
#first_section {
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    display:flex;
    flex: 0 1 10%;
    width: 100%;
  }

 h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
}

#first_section button{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px; 
    color: white;
    background-color:rgb(190, 183, 231);
    border-style: solid;
    border-radius:10px;
    border-color: white;
    height:45px;
    width:100px;
    font-size: medium;
}

#first_section button:hover {
  background-color: rgb(167, 156, 233) ;
}

#first_section a{
  text-decoration: none;
  color:white;
}

#second_section {
    background-color: rgb(143, 209, 231);
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    flex: 0 1 6%;
    width: 100%;
    height: 7%;
  }

   /* Sidebar */

   #sidebar_section {
    background-color: rgb(143, 209, 231);
    position: relative;
  }

  #sidebar_icon {
    font-size: 30px;
    padding: 10px;
    color: white;
    margin-right: 10px;
  }

  .sidebar_list {
    list-style-type: none;
    margin:0;
    padding: 10px;
    display: none;
    position: absolute;
    z-index: 10;
    background-color: rgb(143, 209, 231);
  }

  #sidebar_section:hover .sidebar_list {
    display: contents;
}

.sidebar_list li{
  color:white;
  font-style: oblique;
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 15px;
  background-color: rgb(143, 209, 231);
}

.sidebar_list li:hover {
  background-color: rgb(69, 195, 236);
}
 /* Sidebar */

  #img_button {
    height: 40px;
    max-width: 60px;
  }

  #second_section button {
    background: transparent;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;  
    background: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
  }

  #second_section button:hover {
    background-color: rgb(69, 195, 236);
  }

  /* Rest of Homepage */
  /*Image portion*/
  #image {
    background-image: url('https://static8.depositphotos.com/1394326/951/i/950/depositphotos_9514734-stock-photo-old-poetry.jpg');
    width: 100%;
    height: 140px;
    background-size: cover;
    background-position: center;
  }

/* Navigation Bar*/
  nav {
    background-color: bisque;
    width: 100%;
  }
  
  .navigation_bar {
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
  }

  .navigation_bar li {
    flex: 1;
  }

  .navigation_bar a{
    text-decoration: none;
    color:black;
    font-style: oblique;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    display:block;
    padding: 15px;
  }

  .navigation_bar a:hover {
    background-color: #F3D9C5;
  }

